.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    z-index: 9999;
}

.lightbox-image {
    display: block;
    max-width: 90%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lightbox-video {
    display: block;
    max-width: 90%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-button {
    position: absolute;
    top: auto;
    bottom:80%;
    left: 80%;
    font-size: 100px;
    color: red;
    cursor: pointer;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    color:red;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.prev-button {
    left: 17%;
}

.next-button {
    right: 17%;
}